name: Check Markdown links

on:
  push:
  workflow_dispatch:

jobs:
  main:
    name: Lint, Test and Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 22

      - name: Cache Node Modules
        id: cache-node-modules
        uses: actions/cache@v5
        with:
          path: node_modules
          key: node-modules-${{ runner.os }}-${{ hashFiles('package-lock.json') }}

      - name: Install dependencies
        if: steps.cache-node-modules.outputs.cache-hit != 'true'
        run: npm ci

      - name: Check vulnerabilities
        run: npm audit

      - name: Lint
        run: npm run lint

      - name: Tests
        run: npm run test

      - uses: michaelkreil/check-markdown-links@main
        with:
          path: src
